.overly{
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}

.button_two{
    text-align: center;
}

.icons{
    padding-left: 300px;
}

.fa-star{
    color: yellow;
}

.fa-star-half{
    color: yellow;
}

.fa-instagram{
    color: white;
}

.fa-facebook{
    color: white;
}

.fa-twitter{
    color: white;
}

.fa-youtube{
    color: white;
}

